/* 
* Define color adds multiple shades and opacitys from a single hsl value
* eg: --color-brand--primary--<shade>-<opacity>
* shades: ['light','dark']
* opacity: 1-9 (1 = 0.1, 9 = 0.9)
*/
:root {
    @include defineColor(--color-brand--primary, #e09c3c);
    @include defineColor(--color-brand--secondary, #539111);
    @include defineColor(--color-gray, #808080);
    @include defineColor(--color-black, #000);
    @include defineColor(--color-white, #fff);
    @include defineColor(--color-green, #4bb543);
    @include defineColor(--color-yellow, #ffcc00);
    @include defineColor(--color-red, #bc2f00);
    @include defineColor(--color-blue, #4242ff);

    // body font size
    --text-base-size: 0.9rem;

    @include for-desktop-up {
        --text-base-size: 1rem;
    }

    // heading font size
    --text-h-base-size: calc(var(--text-base-size) * 1.3);
    // type scale
    --text-scale-ratio: 1.1;

    --reverse-scale: calc(1 / var(--text-scale-ratio));
    --text-xxxxs: calc(var(--text-xxxs) * var(--reverse-scale));
    --text-xxxs: calc(var(--text-xxs) * var(--reverse-scale));
    --text-xxs: calc(var(--text-xs) * var(--reverse-scale));
    --text-xs: calc(var(--text-sm) * var(--reverse-scale));
    --text-sm: calc(var(--text-md) * var(--reverse-scale));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    --text-h-xxxxs: calc(var(--text-h-xxxs) * var(--reverse-scale));
    --text-h-xxxs: calc(var(--text-h-xxs) * var(--reverse-scale));
    --text-h-xxs: calc(var(--text-h-xs) * var(--reverse-scale));
    --text-h-xs: calc(var(--text-h-sm) * var(--reverse-scale));
    --text-h-sm: calc(var(--text-h-md) * var(--reverse-scale));
    --text-h-md: calc(var(--text-h-base-size) * var(--text-scale-ratio));
    --text-h-lg: calc(var(--text-h-md) * var(--text-scale-ratio));
    --text-h-xl: calc(var(--text-h-lg) * var(--text-scale-ratio));
    --text-h-xxl: calc(var(--text-h-xl) * var(--text-scale-ratio));
    --text-h-xxxl: calc(var(--text-h-xxl) * var(--text-scale-ratio));
    --text-h-xxxxl: calc(var(--text-h-xxxl) * var(--text-scale-ratio));
}
