.elmgren-footer {
    min-height: 3rem;
    background-color: var(--color-brand--primary--light-5-a-7);
    padding-block:2rem;
    &--content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--socials {
        display: flex;
        align-items: center;
        svg {
            width: 1.5rem;
            aspect-ratio: 1 / 1;
            fill: var(--color-brand--primary);
        }
    }
}
