.notice {
	display: none; // Hidden by default
	padding: 10px;
	color: white;
	font-size: 16px;
	z-index: 1000;
	text-align: center;

	&.success {
		background-color: green;
	}
	&.error {
		background-color: red;
	}
	&.info {
		background-color: blue;
	}
	// For top-scroll and bottom-scroll
	&.top-scroll,
	&.bottom-scroll {
		position: fixed;
		left: 0;
		right: 0;
	}
	&.top-scroll {
		top: 0;
	}
	&.bottom-scroll {
		bottom: 0;
	}
}
